{% extends 'base.html' %}

{% load static %}

{% block content %}

        <section>
            <div class="divForm">                
                <form  method="POST" action="" >
                    
                    <div style="margin-top: 20%">
                        <input name="novoCurso" placeholder="Nome Do Curso">
                    </div>
                    
                    <input type="submit"  class="btn_new_course">
                </form>
            </div>
        </section>

{% endblock %}